---
import { Image } from 'astro:assets'
import type { CollectionEntry } from 'astro:content'

type Props = {
  staff: CollectionEntry<'staff'>
}

const { staff } = Astro.props
---

<div class="w-full max-w-xs rounded-sm lg:max-w-sm 2xl:max-w-md">
  <a href={`/staff/${staff.slug}`} class="group">
    <div class="aspect-h-5 aspect-w-4 relative overflow-hidden">
      <Image
        transition:name={`staff-image-${staff.slug}`}
        class="absolute inset-0 h-full w-full transform object-cover duration-500 ease-in-out group-hover:scale-110"
        src={staff.data.image.src}
        alt={staff.data.image.alt}
      />
    </div>
    <div
      class="mt-4 flex items-center justify-between text-base font-medium text-white/90"
    >
      <h3
        transition:name={`staff-name-${staff.slug}`}
        class="font-light group-hover:text-primary-500 sm:text-lg md:text-xl lg:text-2xl"
      >
        {staff.data.name}
      </h3>
    </div>
    <p
      transition:name={`staff-role-${staff.slug}`}
      class="mt-1 text-sm italic text-gray-500 group-hover:text-gray-300 md:text-base lg:text-lg"
    >
      {staff.data.businessRole && `${staff.data.businessRole} - `}
      {staff.data.role}
    </p>
    <div
      class="mt-4 w-2/6 transform border-b border-solid border-gray-600 duration-500 group-hover:w-4/6"
    >
    </div>
  </a>
</div>
