---
import '@fontsource/montserrat/latin.css'
import '@fontsource/parisienne/latin.css'
import { ViewTransitions } from 'astro:transitions'
import { Navbar } from '../components/Navbar'
import Footer from '../components/Footer.astro'
import heroImage from '../assets/new-hero.png'

interface Props {
  title?: string
  description?: string
  image?: string
  imageAlt?: string
  author?: string
}

const {
  title,
  description: descriptionProp,
  image: imageProp,
  imageAlt: imageAltProp,
  author,
} = Astro.props

const canonicalURL = new URL(Astro.url.pathname, Astro.site)
const url = import.meta.env.PROD
  ? canonicalURL
  : // ? import.meta.env.SITE
    'http://localhost:4321'
const siteTitle = 'The Blonding Room'
const finalTitle = title ? `${title} | ${siteTitle}` : siteTitle
const description =
  descriptionProp ||
  'Welcome to The Blonding Room. A place to get all your blonding, colouring, styling and nail services in London Ontario Canada'
const image = imageProp ? `${url}${imageProp}` : `${url}${heroImage.src}`
const imageAlt = imageAltProp || 'The Blonding Room Logo'
// Example: Construct a canonical URL using your production domain
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <!-- SEO -->

    <meta property="og:site_name" content={siteTitle} />

    <meta property="og:type" content="website" />
    <link rel="canonical" href={url} />
    <meta name="og:url" content={url} />
    <meta name="apple-mobile-web-app-title" content={siteTitle} />

    <title>{finalTitle}</title>
    <meta property="og:title" content={finalTitle} />
    <meta name="twitter:title" content={finalTitle} />

    <meta name="description" content={description} />
    <meta name="og:description" content={description} />
    <meta name="twitter:description" content={description} />

    <meta property="og:image" content={image} />
    <meta name="twitter:image" content={image} />
    <meta property="og:image:alt" content={imageAlt} />
    <meta name="twitter:card" content="summary_large_image" />

    <!--  -->
    <meta
      name="google-site-verification"
      content="IiuNSYoLsSXXeEp3zOeZO21AgHB4jq6GAprOc_6lnlw"
    />

    {author && <meta name="author" content={author} />}

    <!-- <meta name="copyright" content="ISC" /> -->

    <!--  -->

    <!-- <link rel="sitemap" type="application/xml" href="/sitemap-index.xml" /> -->

    <!-- /SEO -->
    <ViewTransitions />
  </head>
  <body class="flex min-h-screen flex-col bg-gray-900 font-sans font-light">
    <Navbar client:idle />
    <div class="grow">
      <slot />
    </div>
    <Footer />
  </body>
</html>
